@(form: Form[VideoFull])

@main("Videos") {

    <h1>Videos</h1>

    @* Flash shows updates to a page *@
    @flash.asScala.map{ case (name, value) =>
    <div class="@name">@value</div>
    }

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(routes.VideoJPAController.createVideo) {
        @helper.CSRF.formField

        @helper.inputText(form("category"))
        @helper.inputText(form("title"))
        @helper.inputText(form("poster"))
        @helper.inputText(form("yURL"))
        @helper.inputText(form("type"))
        @helper.inputText(form("year"))
        @helper.inputText(form("genre"))
        @helper.inputText(form("actors"))
        @helper.inputText(form("imdbID"))
        @helper.inputText(form("countries"))
        @helper.inputText(form("languages"))
        @helper.inputText(form("awards"))
        @helper.inputText(form("director"))
        @helper.inputText(form("episode"))
        @helper.inputText(form("imdbRating"))
        @helper.inputText(form("imdbVotes"))
        @helper.inputText(form("metascore"))
        @helper.inputText(form("plot"))
        @helper.inputText(form("rated"))
        @helper.inputText(form("released"))
        @helper.inputText(form("runtime"))
        @helper.inputText(form("season"))
        @helper.inputText(form("tomatoBoxOffice"))
        @helper.inputText(form("tomatoConsensus"))
        @helper.inputText(form("tomatoDvd"))
        @helper.inputText(form("tomatoFresh"))
        @helper.inputText(form("tomatoImage"))
        @helper.inputText(form("tomatoMeter"))
        @helper.inputText(form("tomatoProduction"))
        @helper.inputText(form("tomatoRating"))
        @helper.inputText(form("tomatoReviews"))
        @helper.inputText(form("tomatoRotten"))
        @helper.inputText(form("tomatoURL"))
        @helper.inputText(form("tomatoUserMeter"))
        @helper.inputText(form("tomatoUserRating"))
        @helper.inputText(form("tomatoUserReviews"))
        @helper.inputText(form("tomatoWebsite"))
        @helper.inputText(form("writer"))

        <button type="submit">Create video</button>
    }

}
