@(apps:Seq[Application])
@main("") {

    <h1>Applications</h1>

    @drawTable(apps)

    @* Flash shows updates to a page createApplication*@
    @flash.asScala.map{ case (name, value) =>
    <div class="@name">@value</div>
    }


    <hr/>

    @helper.form(routes.AdminPanel.deleteApplication) {
        @helper.CSRF.formField
            <label> Cateogry </label>
            <select name="name">
                @for(w <- apps) {
                <option value="@w.getId()">@w.getName()</option>
                }
            </select>
            <button type="submit">Delete Application</button>
    }
}
