@(cats: Seq[Category])
@import utility.Types
<h1>Categories</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Description</th>
        <th>Type</th>
        <th>Id</th>
    </tr>
    </thead>
    <tbody>
    @for(w <- cats) {
    <tr>
        <td>@w.name</td>
        <td>@w.value</td>
        <td>@w.description</td>
        @for(a <- Types.values()){
            @if( a.value() == {w.`type`}){
                <td>@a.name()</td>
            }
        }
        <td>@{w.generatedId}</td>
    </tr>
    }
    </tbody>
</table>

<hr/>
