@(videos: Seq[VideoFull], form: Form[VideoFull])

@main("Videos") {

    <h1>Videos</h1>

    @* Flash shows updates to a page *@
    @flash.asScala.map{ case (name, value) =>
    <div class="@name">@value</div>
    }

    <table border=1>
        <thead >
        <tr>
            <th>Title</th><th>Year</th><th>imdbID</th>
            <th>Type</th><th>Poster</th><th>Country</th>
        </tr>
        </thead>
        <tbody>
        @for(w <- videos) {
            <tr>
                <td>@w.title</td><td>@w.year</td><td>@w.imdbID</td>
                <td>@w.tp</td><td>@w.poster</td><td>@w.countries</td>
            </tr>
        }
        </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(routes.VideoController.createVideos) {
        @helper.CSRF.formField

        @helper.inputText(form("title"))

        @helper.inputText(form("year"))

        @helper.inputText(form("yURL"))

        @helper.inputText(form("poster"))

        @helper.inputText(form("actors"))

        @helper.inputText(form("genre"))

        @helper.inputText(form("languages"))

        @helper.inputText(form("countries"))

        <button type="submit">Create video</button>
    }

}
